:root {
  --primario: #9c27b0;
  --primarioOscuro: #891190;
  --secundario: #FFCE00;
  --secundarioOscuro: rgb(233, 287, 2);
  --blanco: #fff;
  --negro: #000;
  --rojo: #e60000;
  --fuentePrincipal: 'Staatliches', cursive;
}

.fondo {
  background: var(--rojo);
  z-index: 99;
  position: relative;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-snap-type: y mandatory;

}

*,
* ::before,
*::after {
  margin:0;
	padding:0; 
  box-sizing: inherit;
}


.row{
	display: flex;
	flex-wrap: wrap;
}
/** Globales */



body {
  font-family: 'Lato', Helvetica;
  background-color: var(--blanco);
  font-size: 1.5rem;
  line-height: 1.5;
 
}

/* Estilos para pantallas grandes */



@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para la barra de navegación */
  nav {
    background-color: var(--white);
    text-align: right;
    margin-bottom: 2px;
  }

  nav a {
    color: #333c4e;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    font-style: normal;
    margin-left: 20px; /* Agregar margen izquierdo de 10px entre botones */
  }

  nav a:hover {
    color: rgb(6, 6, 6);
  }

  header {
    background-color: var(--blanco);
    padding: 4px;
    margin: 15px 10px 0px 10px;
    margin-left: 110px;
    color: white;
    text-align: center;
    width: auto;
  }

  .header__logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 14px;
    margin: 25px 10px;
    width: 500px;
  }

  .header__logo {
    max-width: 150px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Agregar posición relativa */
    z-index: 2; /* Ajustar el z-index */
    margin-bottom: 20px;
 
  }

  .swiper {
    height: 850px;
    
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-container1,
  .image-container2,
  .image-container3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  .overlay-button {
    padding: 15px 30px;
    background-color: var(--rojo);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    white-space: nowrap; /* Evita el salto de línea */
    justify-content: center;
    align-items: center;
  }

  .overlay-button:hover {
    background-color: darkred;
  }

  /* Estilos para el menú desplegable */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 5px 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: auto; /* Mover 10px hacia la parte inferior ESTE ES PRBLEMA DE CURSOR OCULTADO */
    background-color: white; /* Agregar fondo blanco */
    border-radius: 1px;
    white-space: nowrap; /* Evita el salto de línea */
    text-align: left;
    border: 0.5px solid #7b808b; /* Agregar línea de borde */
    border-radius: 1px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: block;
    color: black;
    padding: 8px 22px;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: rgb(224, 99, 99); /* Cambiar el color de fondo al pasar el cursor */
    color: white;
    width: 100%; /* Añadir ancho del 100% */
    height: 100%; /* Añadir alto del 100% */
    margin: auto;
  }

  /* Estilos para el botón desplegable */
  .dropbtn {
    background-color: var(--blanco);
    color: #333c4e;
    padding: 8px 8px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }



  ul {
    margin: 5px 10px;
    padding: 0;
    list-style: none;
    width: 995px;
  }

  li {
    display: inline;
    margin: 5px 10px;
  }

  .search-li {
    float: right;
    margin-top: 7px; /* Mover 8px hacia la parte inferior */
  }

  .search-box {
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }

  .search-box input {
    margin-right: 15px; /* Mover el texto del placeholder 15px hacia la derecha */
    height: 35px; /* Aumentar la altura a 30px */
    text-align: center; /* Centrar el texto del input */
  }

  .search-box input::placeholder {
    text-align: center; /* Centrar el texto del placeholder */
  }

  .search-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333c4e; /* Cambiar el color de la lupa a blanco */
  }
}



/*
/*
/*
/*
/*
/*
/* Estilos para pantallas medianas */





@media only screen and (min-width: 768px) and (max-width: 1023px) {

  /* Estilos para la barra de navegación reducida */
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
  }


  .fondo {
    background: var(--rojo);
    z-index: 99;
    position: relative;
  }

  /* Estilos para la barra de navegación */
  nav {
    background-color: var(--white);


    margin-bottom: 2px;
  }

  nav a {
    color: #333c4e;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-style: normal;

    margin: 1px 1px 1px 5px;
    /* Agregar margen izquierdo de 10px entre botones */
  }

  nav a:hover {
    color: rgb(6, 6, 6);



  }

  header {
    background-color: var(--blanco);
    padding: 4px;
    margin: 15px 10px 0px 10px;
    color: white;
    text-align: center;
    width: 600px;

  }

  .header__logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 24px;
   

  }





  .header__logo {
    max-width: 85px;

  }


  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Agregar posición relativa */
    z-index: 2;
    /* Ajustar el z-index */
    margin: 0px 15px;
    /* Cambiar margen izquierdo a margen derecho */
    margin-bottom: 9px;
  }

  .swiper {

    height: 400px;
  }



  swiper-container {

    width: 100%;
    height: 100%;
  }

  swiper-slide {

    text-align: center;
    font-size: 12px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;


  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;


  }


  .image-container1 {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: 1;


  }

  .image-container2 {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: 1;


  }

  .image-container3 {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: 1;


  }



  .overlay-button {
    padding: 15px 30px;
    background-color: var(--rojo);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    white-space: nowrap;
    /* Evita el salto de línea */
    justify-content: center;
    align-items: center;

  }

  .overlay-button:hover {
    background-color: darkred;
  }


  ul {
    margin: 15px 5px;
    padding: 0;
    list-style: none;
    width: 600px;
  }

  li {
    display: inline;

    margin: 5px 5px;
  }

 /* Estilos para el menú desplegable */
 .dropdown {
  position: relative;
  display: inline-block;
  margin: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: auto; /* Mover 10px hacia la parte inferior ESTE ES PRBLEMA DE CURSOR OCULTADO */
  background-color: white; /* Agregar fondo blanco */
  border-radius: 1px;
  white-space: nowrap; /* Evita el salto de línea */
  text-align: left;
  border: 0.5px solid #7b808b; /* Agregar línea de borde */
  border-radius: 1px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 8px 22px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: rgb(224, 99, 99); /* Cambiar el color de fondo al pasar el cursor */
  color: white;
  width: 100%; /* Añadir ancho del 100% */
  height: 100%; /* Añadir alto del 100% */
  margin: auto;
}

/* Estilos para el botón desplegable */
.dropbtn {
  background-color: var(--blanco);
  color: #333c4e;
  padding: 2px 2px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
}




  .search-li {
    float: right;

    /* Mover 8px hacia la parte inferior */

  }

  .search-box {
    display: flex;
    align-items: center;
    padding: 0px 5px;
  }

  .search-box input {

    margin-right: 15px;
    /* Mover el texto del placeholder 15px hacia la derecha */
    height: 27px;
    /* Aumentar la altura a 30px */
    width: 80px;
    text-align: left;
    /* Centrar el texto del input */
  }

  .search-box input::placeholder {
    text-align: center;
    /* Centrar el texto del placeholder */
  }

  .search-box button {

    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333c4e;
    margin: 8px 2px 3px 2px;
    /* Cambiar el color de la lupa a blanco */
  }




}



/* 
/* 
/* 
/* 
/* 
/* Estilos para pantallas pequeñas */



@media only screen and (max-width: 767px) {
  .container {
    max-width: 390px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para la barra de navegación reducida */
  .fondo {
    background: var(--rojo);
    z-index: 99;
    position: relative;
  }

  /* Estilos para la barra de navegación */
  nav {
    background-color: var(--white);
    margin-bottom: 2px;
  }

  nav a {
    color: #333c4e;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-style: normal;
    margin: 1px 1px 1px 5px;
  }

  nav a:hover {
    color: rgb(6, 6, 6);
  }

  header {
    background-color: var(--blanco);
    padding: 4px;
    margin: 15px 10px 0px 10px;
    color: white;
    text-align: center;
    width: 370px;
  }

  .header__logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 24px;
  }

  .header__logo {
    max-width: 85px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 0px 15px;
    margin-bottom: 9px;
  }

  /* Estilos para el menú hamburguesa */
  .menu__icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }

  .menu__icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333c4e;
    margin-bottom: 5px;
  }

  .menu__icon span:last-child {
    margin-bottom: 0;
  }

  .menu__items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 10px;
    z-index: 99;
  }

  .menu__items a {
    color: #333c4e;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .menu__items a:hover {
    color: rgb(6, 6, 6);
  }

  .menu__items.active {
    display: flex;
  }

  /* Resto de estilos */

  .swiper {
    height: 400px;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 12px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  .image-container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  .image-container3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  .overlay-button {
    padding: 15px 30px;
    background-color: var(--rojo);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }

  .overlay-button:hover {
    background-color: darkred;
  }

  ul {
    margin: 15px 5px;
    padding: 0;
    list-style: none;
    width: 600px;
  }

  li {
    display: inline;
    margin: 5px 5px;
  }

  /* Estilos para el menú desplegable */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 5px 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: auto;
    background-color: white;
    border-radius: 1px;
    white-space: nowrap;
    text-align: left;
    border: 0.5px solid #7b808b;
    border-radius: 1px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: block;
    color: black;
    padding: 8px 22px;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: rgb(224, 99, 99);
    color: white;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  /* Estilos para el botón desplegable */
  .dropbtn {
    background-color: var(--blanco);
    color: #333c4e;
    padding: 2px 2px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }

  .search-li {
    float: right;
  }

  .search-box {
    display: flex;
    align-items: center;
    padding: 0px 5px;
  }

  .search-box input {
    margin-right: 15px;
    height: 27px;
    width: 80px;
    text-align: left;
  }

  .search-box input::placeholder {
    text-align: center;
  }

  .search-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333c4e;
    margin: 8px 2px 3px 2px;
  }
}







/* Basic styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,900;1,500;1,800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 1 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Helvetica;

}




h1 {
  font-size: 36px;
  margin: 0;
}



/* Estilos para el contenido principal 
main {
  padding: 20px;
}
*/
/* Estilos para cada sección */


h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--rojo);
}

p {
  margin-bottom: 20px;
}





footer {
  background-color: var(--rojo);
  padding: 20px;
  color: white;
  text-align: cabeidcenter;
}



.cabe1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 79%;
  margin: 0 auto;
  z-index: 99;
  position: relative;
  border-bottom: 1px solid #ffffff4d;
}



.redesid {
  padding: 5px;
  font-size: 20px;
  color: #fff;
}



i.fab.fa-linkedin-in {
  font-size: 20px;
  color: var(--blanco);
  /* Color azul de LinkedIn */
  margin: 0 0.5rem;
}

i.fab.fa-twitter {
  font-size: 20px;
  color: var(--blanco);
  /* Color azul de Twitter */
  margin: 0 0.5rem;
}

i.fab.fa-facebook {
  font-size: 20px;
  color: var(--blanco);
  /* Color azul de Facebook */
  margin: 0 0.5rem;
}







/* Agregue este estilo para el contenedor de los botones */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

}

/* Agregue este estilo para personalizar los botones */
.btn {
  background-color: var(--rojo);
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  /* Mover el enlace desde el botón a la etiqueta <a> */
}









#aboutHL7 {
  padding: 65px;
  background-color: #f2f2f2;
}

.section-content {
  margin: 25px;
  box-sizing: border-box;
  /* Incluye el padding y el borde en el ancho total */
}



#introduction {
  margin: 25px;
  padding: 65px;
  background-color: white
}

#standards {
  padding: 65px;
  background-color: #f2f2f2;
}

#use-cases {
  margin: 25px;
  padding: 65px;
  background-color: white;
}

#resources {
  padding: 65px;
  background-color: #f2f2f2;

}

#events {
  margin: 25px;
  padding: 65px;
  background-color: white;
}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.columna {
  flex-basis: 33.33%;
}

/* Estilos para cada sección */
.redes-sociales a {
  display: inline-block;

  height: 20px;
  margin-right: 10px;
  color: white;
  font-size: 16px;
}

/* Estilos específicos para cada ícono */


.direccion {
  margin-bottom: 20px;
}


.mapa {
  margin-bottom: 20px;
}

.derechos-autor {
  margin-bottom: 20px;
  bottom: 0;
  width: 100%;
  padding: 0px;
  text-align: center;
}


.section-imagen {
  height: 500px;
  overflow: hidden;
  width: 100%;
}


#photo-portada {

  background-color: #f2f2f2;
}

@keyframes imagen-animada {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.container{
	max-width: 1170px;
	margin:auto;
}



.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}




.footer-col2{
  width: 20%;
  padding: 0 15px;
}
.footer-col2 h4{
 font-size: 18px;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 35px;
 font-weight: 500;
 position: relative;
}

.footer-col2 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col2 ul li {
	margin: 0%;
}

.footer-col2 ul li a{
	font-size: 16px;
	
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col2 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


@keyframes zoom-animacion {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.zoom-imagen {
  opacity: 90%;
  animation: zoom-animacion 12s infinite;


}